## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/

/**/*.d.ts
/**/*.js
/**/*.js.map
tsconfig.tsbuildinfo
!@types

!rollup.config.js

storybook-static
custom-elements.json
