<!doctype html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="/src/x-list.css" /> -->
  <!-- <link rel="stylesheet" href="./global-tweaks.css" /> -->
  <link rel="stylesheet" href="/styles/normalize.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />
  <link rel="stylesheet" href="/demo/styles.css" />
  <!--
    JSPM Generator Import Map
    Edit URL: https://generator.jspm.io/#U2VhYGCzD80rySzJSU1hcCjKSCnWT81JzU3NKyl2MNQz0DNkyMkscTDSM9czRbD0U1KT84sSS/KLivWyirGK6yeXFpfk5+pCDcOprKAovyC1qKQSpKCkOCczCajEVM8YANSNRw6ZAA
  -->
 <script type="importmap">
  {
    "imports": {
      "@patternfly/icons/fas/redo-alt.js": "https://ga.jspm.io/npm:@patternfly/icons@1.0.2/fas/redo-alt.js",
      "@rhds/elements": "https://ga.jspm.io/npm:@rhds/elements@1.0.1/rhds.min.js",
      "lit": "https://ga.jspm.io/npm:lit@2.7.5/index.js",
      "lit/decorators.js": "https://ga.jspm.io/npm:lit@2.7.5/decorators.js",
      "lit/decorators/custom-element.js": "https://ga.jspm.io/npm:lit@2.7.5/decorators/custom-element.js",
      "lit/decorators/property.js": "https://ga.jspm.io/npm:lit@2.7.5/decorators/property.js",
      "tslib": "https://ga.jspm.io/npm:tslib@2.5.3/tslib.es6.mjs"
    },
    "scopes": {
      "https://ga.jspm.io/": {
        "@lit/reactive-element": "https://ga.jspm.io/npm:@lit/reactive-element@1.6.2/development/reactive-element.js",
        "@lit/reactive-element/decorators/": "https://ga.jspm.io/npm:@lit/reactive-element@1.6.2/development/decorators/",
        "lit-element/lit-element.js": "https://ga.jspm.io/npm:lit-element@3.3.2/development/lit-element.js",
        "lit-html": "https://ga.jspm.io/npm:lit-html@2.7.4/development/lit-html.js",
        "lit-html/is-server.js": "https://ga.jspm.io/npm:lit-html@2.7.4/development/is-server.js"
      }
    }
  }
  </script>

  <script async src="https://ga.jspm.io/npm:es-module-shims@1.7.3/dist/es-module-shims.js"></script>
  <script>
    window.esmsInitOptions = {polyfillEnable: ['css-modules']}
  </script>
  <script src="https://unpkg.com/shiki@0.14.2/dist/index.unpkg.iife.js"></script>
</head>

<body>
  {{ content }}
</body>

</html>
