  x-list,
  :host(x-list) {
    display: flex;
    background-image: var(--gradient-30);
    border-radius: 4px;
  }

  x-list ul,
  :host(x-list) ul,
  :host(x-list) ::slotted(ul) {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    list-style-type: none;
    align-items: center;
  }

  x-list li,
  :host(x-list) li {
    display: contents;
  }

  x-list a,
  :host(x-list) a {
    color: black;
  }

  x-list a::before,
  :host(x-list) a::before {
    display: inline-block;
    padding-right: .5rem;
  }

  x-list [done] a,
  :host(x-list) [done] a {
    color: green;
  }

  x-list :not([done]) a::before,
  :host(x-list) :not([done]) a::before {
    content: '☑️';
  }

  x-list [done] a::before,
  :host(x-list) [done] a::before {
    content: '✅';
  }
